<table class="table table-hover table-bordered pb-0 mb-0">
    <thead class="tableHead">
        <tr>
            <th style="width: 10%" scope="col">Date</th>
            <th scope="col">Job/Absence</th>
            <th scope="col">In</th>
            <th scope="col">Out</th>
            <th scope="col">Reg</th>
            <th scope="col">OT</th>
            <th scope="col">Total</th>
            <th scope="col">Gross Pay</th>
            <th style="width: 10%" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']; for(var i=0; i < days.length; ++i) {%>
        <% if(i % 2 === 0) {%>
        <tr>
            <% } else {%>
        <tr class="offColor">
            <% } %>
            <td class="dateCell">
                <div class="dateDay">
                    <%= days[i] %>
                </div>
                <div class="dateFormat">
                    <%= period[i].date %></div>
            </td>
            <td><%= period[i].job %></td>
            <td><%= period[i].in %></td>
            <td><%= period[i].out %></td>
            <td><%= period[i].reg %></td>
            <td><%= period[i].ot %></td>
            <td><%= period[i].total %></td>
            <td><%= period[i].grossPay %></td>
            <td id=<%= period[i].date %>><a class="editLink" href=#>Request Edit</a></td>
        </tr>
        <% } %>
        <tr style="border-bottom-style: hidden; border-left-style: hidden;">
            <td class="hideTd">
            </td>
            <td class="hideTd" style="border-left-style: hidden; border-right-style: hidden;"></td>
            <td class="hideTd"></td>
            <td class="totals">
                Totals</td>
            <td class="totals"><%= period[period.length-1].totalHours %></td>
            <td class="totals"><%= period[period.length-1].totalOT %></td>
            <td class="totals"><%= period[period.length-1].totalCombined %></td>
            <td class="totals"><%= period[period.length-1].totalPay %></td>
            <td class="totals"><a href=#></a></td>
        </tr>
    </tbody>
</table>